/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2014, 12:06:09 PM
    Author     : eslem
*/

@import 'default';

$primary-color : #5B4282;
$paddingSides : 20px;
$paddingTop: 40px;
$font-stack:    Helvetica, sans-serif;


header{
    background-color: $primary-color;
    color: white;
    padding: $paddingTop $paddingSides;


    h1{
        font: 100% $font-stack;
    }
    
    button {
        @include borderRadius(5px);
        @extend h1;
    }
}